# Angular
./ui-data-table/dist
./ui-data-table/tmp
./ui-data-table/out-tsc
./ui-data-table/chrome-profiler-events*.json
./ui-data-table/speed-measure-plugin*.json
./ui-data-table/node_modules

# Node
./api-data-table/.env
./api-data-table/nodemon.json
./api-data-table/.vscode
./api-data-table/.nyc_output
./api-data-table/node_modules