# Angular
./ui-data-table/dist
./ui-data-table/tmp
./ui-data-table/out-tsc
./ui-data-table/chrome-profiler-events*.json
./ui-data-table/speed-measure-plugin*.json
./ui-data-table/node_modules

# Node
./api/.env
./api/nodemon.json
./api/.vscode
./api/.nyc_output
./api/node_modules